html {
  background-color: #000000;
  margin: 0;
}

body {
  width: 100%;
}

#slide1,
#slide2 {
  width: 100%;
  background-color: #000;
  margin: 0;
}

#slide1 {
  height: 100vh;
  background-size: cover;
  background-color: #000000;
}

#slide2 {
  background-color: #000000;
  color: #fff;
  height: 100vh;
  /*position: relative;*/
  background-size: cover;
  transition: background 1s ease;
}

.block {
  height: 33.3vh;
  display: inline-block;
  transition: all 1s ease;
}

.block:hover>.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  /*background-color: #000;
  opacity: 0.5;*/
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 100;
  display: block;
}


.info {
  display: none;
  position: absolute;
  text-align: center;
  padding-top: 50px;
  color: #fff;
  font-family: "Futura", "Didact Gothic";
}

#pic1,
#pic2,
#pic3,
#pic4,
#pic5,
#pic6,
#pic7,
#pic8,
#pic9 {
  display: block;
}

#pic1 {
  background-image: url("https://dailybruin.com/images/2017/02/moana2.jpg");
  background-size: cover !important;
}

#pic2 {
    background-image: url("https://dailybruin.com/images/2017/02/elle.jpg");
  background-size: cover !important;
}
#pic3 {
  background-image: url("https://dailybruin.com/images/2017/02/costume.jpg");
  background-size: cover !important;
}
#pic4 {
  background-image: url("https://dailybruin.com/images/2017/02/ridge.jpg");
  background-size: cover !important;
}
#pic5 {
  background-image: url("https://dailybruin.com/images/2017/02/oscar1.jpg");
  background-size: cover !important;
}
#pic6 {
  background-image: url("https://dailybruin.com/images/2017/02/zootopia1.jpg");
  background-size: cover !important;
}
#pic7 {
  background-image: url("https://dailybruin.com/images/2017/02/lala2.jpg");
  background-size: cover !important;
}
#pic8 {
  background-image: url("https://dailybruin.com/images/2017/02/lala1.jpg");
  background-size: cover !important;
}
#pic9 {
  background-image: url("https://dailybruin.com/images/2017/02/femme.jpg");
  background-size: cover !important;
}


.center {
  margin: 0 auto;
  text-align: center;
  height: 100%
}

.content {
  font-family: "Julius Sans One", "Raleway", "sans-serif";
  margin: 0 auto;
  width: 1024px;
  height: 100%;
  text-align: center;
}

.clear {
  clear: both;
}


select {
  color: #f4b942 !important;
  transition: all 0.4s ease;
  border-bottom: 2px solid #f4b942;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color:none !important;
  box-shadow: none;
  padding-left: 10px;
  width: 100%;
  height: 80px;
  border-radius: 0px !important;
  font-size: 43px !important;
  font-family: 'Fjalla One', sans-serif !important;
  text-shadow: 2px 2px 4px #000000;
}

#winnername {
  color: #f4b942 !important;
  font-size: 50px !important;
  font-family: 'Fjalla One', sans-serif !important;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 20px;
  display: inline-block;
  /*float: right;*/
}

select:hover {
  border-bottom: 2px solid #ffd072;
  color: #ffd072 !important;
}

#graph {
  position: absolute;
  height: 67%;
  width: 90%;
  background-size: cover !important;
  background-position: center;
  transition: 1s background ease;
}
#imagefilm{
  position: relative;
  background-position: center;
  height: 100%;
  width: 60%;
  background-size: cover !important;
  display: inline-block;
  /*float: right;*/
}

.row {
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.4);

}

#predict {
  height: 100%;
  width: 40%;
  float: left;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Playfair Display', sans-serif !important;
  background-color:rgba(0, 0, 0, 0.5);
  line-height: 60px;
}

#predictions-title {
  line-height: 27px;
}

#imagecreds {
  position: absolute;
  bottom:0px;
  right:30px;
  border: none !important;
  font-size: 2 !important;
  float: right !important;
  color: white !important;
}

select {
 -webkit-appearance: none;
  -moz-appearance: none;
  background: url("http://dailybruin.com/images/2017/02/tri.png") no-repeat;
  background-position-x: 410px;
  background-position-y: 25px;
  background-size: 30px 30px;
  outline: none;
}

#daniel {
  font-family: 'Playfair Display', serif !important;
  padding: 0px 100px 0px 100px;
  text-shadow: 4px 4px 8px #000000;
  line-height: 70px;
  font-style: italic;
}

#credit {
  font-family: 'Playfair Display', serif !important;
  text-shadow: 2px 2px 6px #000000;

}
